ul {
    background-color: red;
    width: 700px;
    padding: 20px;
    border: 15px solid navy;
    margin: auto;
}

li > ul {
	background-color: green;
	border: 15px solid orange;
	margin: auto;
	width: 630px;
 	padding: 20px;
}
table {
	background-color: orange; 
	width: 100px;
    padding: 20px;
    border: 15px solid red;
    margin: auto;
}
tfoot {
	background-color: green;
}
th {
	background-color: yellow;
}
ol ~ p {
	background-color: green;
	border: 15px solid orange;
	margin: auto;
	width: 700px;
 	padding: 20px;
}
p + ol {
	background-color: green;
	border: 15px solid orange;
	margin: auto;
	width: 680px;
 	padding: 30px;
}



