<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
* {
	outline: solid red 1px;
}
body {
	background-image: url("images/nikon.jpg");
	background-repeat: repeat;
	width: 1400px;
}
header {
	width: 100%;
}
ul {
	list-style-type: none;
	font-size: 30px;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #ffa239;
	float: left;
}
li a {
    display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #ffb663;
    color: white;
}
.active {
    background-color: #9b5200;
    color: white;
}
h1 {
	font-size: 70px;
	color: #ffd7aa;
	margin-left: 310px;
}
h2 {
	font-size: 50px;
	color: white;
	clear: both;
	margin-top: 500px;
	margin-left: 20px;
}
h3 {
	font-size: 40px;
	margin-left: 310px;
	color: #d36f00;
}
h4 {
	color: white;
	font-size: 30px;
	width: 400px;
	clear: left;
}
footer {
	color: white;
	text-align: right;
}
p {
	color: white;
	font-size: 25px;
	width: 500px;
	float: left;
	clear: left;
}
article {
	width: 1000px;
	margin-left: 310px;
}
img {
	float: right;
	clear: right
}
section {
	clear: both;
}

